body {background: #ffe;}
:root{
	--main-color:#443;
	--border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
	--border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
	--border:.2rem solid var(--main-color);
	--border-hover:.2rem dashed var(--main-color);
}

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s linear;
}
html{
	font-size: 62.5%;
	overflow: none;
	scroll-padding-top: 7rem;
	scroll-behavior: smooth;
}
.header{
	top: 0; left: 0; right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 2rem 9%;
	background-color:#FF6F26;
	color: #FFFFFF;
}

.header .logo{
	color: #FFFFFF;
	font-size: 2.3rem;
}

.header .logo i{
	padding-left: .5rem;
}

.header .navbar a{
	margin: 0 1rem;
	font-size: 1.7rem;
	color: #FFFFFF;
}

header .btn{
	margin-top: 0;
}

#menu-btn{
	font-size: 3rem;
	color: var(--main-color);
	cursor: pointer;
	display: none;
}
.right { float: right; }
.left { float:left;font-size:14px;padding-right:4px;color:#FFFFFF;}
div.container { width: 800px; margin: 0 auto; font-size: 10pt;background:white;height:100%; }
div.econtainer { width: 600px; margin: 100px auto; font-size: 10pt;background:white;height:100%; }

.btn { padding: 0.4em 1em;        
       border-radius: 0.5em;
       outline:0;
       border: 0;
       text-decoration: none;
       background:orange;
       display: inline-block; 
       color:white;
       }
       
.btn:active {
      -ms-transform: translateY(2px);
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
      background: #ccc; }

table.list { border-collapse: collapse; width: 100%; }
table.list td { padding: 6px; border: 1px solid #ccc; }
table.list th { padding: 6px; border: 1px solid #ccc;  background-color: orange; color:white; }

input { padding: 4px; }
select { padding: 4px; }

tr[data-url]:hover { cursor: pointer; background-color: orange; }
.box { box-shadow: 0 0 4px lightgray, 2px 2px 4px gray; }

ul.pagination { margin-top: 8px; padding: 0; display: flex; }
ul.pagination li { 
  font-size: 11pt; color: #08f;
  display: inline-block; border: 1px solid #ddd; border-right: none;
  padding: 0.5em 0.9em; 
  text-align: center;
  cursor: pointer;
}
ul.pagination li:last-child { border: 1px solid #ddd; }

ul.pagination li.active { color: white; background-color: #6ac; }
ul.pagination li:hover { color: white; background-color: #26F; }  

