@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #FFF url("https://codepen.io/images/classy_fabric.png"); }

*{
    padding: 0;
    margin: 0;
}

table {
    border: 1px solid red;
}

button{
    border: 0;
    background-color: #FFF;
    cursor: pointer;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFF;
}

img{
    width: 150px;
}

.map{
    border: 1px solid red;
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
}

.logobar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
    background-color: orange;
    color: #FFF;
    font-size: 24px;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.list {
    display: flex;
    align-items: center;
}

.list > li {
    margin-right: 24px;
    padding: 8px 12px;
}

.list li:hover {
    background-color: chocolate;
    border-radius: 5px;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: 12px;
}
.login button {
    background: orange;
    color: #FFF;
}
.login img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
}

.welcome {
    padding: 8px 12px;
    text-align: center;
}

.welcome p {
    margin-bottom: 24px
}
.input > input {
    width: 300px;
}
.input {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.input button {
    background-color: orange;
    color: #FFF;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}
.text.active{
    background-color: coral;
}
.result{
    background: orange;
    color: #fff;
    transition: 300ms ease-in-out;
}
.result2{
    background: orange;
    color: #fff;
    transition: 300ms ease-in-out;
}
.result3{
    background: orange;
    color: #fff;
    transition: 300ms ease-in-out;
}

.result.active:hover {
    transform: rotate(180deg);
}
.result2.active:hover {
    transform: rotate(180deg);
}
.result3.active:hover {
    transform: rotate(180deg);
}

.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.undercheckbox{
    display: flex;
    flex-direction: column;
    width: 70%;
    background: orange;
}

.check_list ul {
    display: flex;
}
.check_list2 ul {
    display: flex;
}
.check_list3 ul {
    display: flex;
}

.check_list li {
    margin: 8px 12px;
    padding: 8px 12px;
    background-color: coral;
    border-radius: 5px;
}
.check_list2 li {
    margin: 8px 12px;
    padding: 8px 12px;
    background-color: coral;
    border-radius: 5px;
}
.check_list3 li {
    margin: 8px 12px;
    padding: 8px 12px;
    background-color: coral;
    border-radius: 5px;
}

.check_list{
    display: none;
}
.check_list2{
    display: none;
}
.check_list3{
    display: none;
}

.check_list button{
    background-color: coral;
    color: #FFF;
    font-weight: bold;
}
.check_list2 button {
    background-color: coral;
    color: #FFF;
    font-weight: bold;
}
.check_list3 button {
    background-color: coral;
    color: #FFF;
    font-weight: bold;
}

.check_list.active {
    display: flex;
}
.check_list2.active {
    display: flex;
}
.check_list3.active {
    display: flex;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.search tr{
    display: flex;
    width: 100%;
    margin: 10px;
}
.search td{
  padding: 0;
  border: 1px solid black;
  margin: 10px;
}

.search span {
    display: flex;
    justify-content: space-around;
}

.container{
    width: 300vw;
    transition: transform 0.5s;
}

.inner {
    width: 100vw;
    float: left;
    text-align: center;
}

.inner img {
    width: 40%;
    height: 500px;
}

.sliderBtn {
    display: flex;
    justify-content: center;
}


@media screen and (max-width:768px) {
    .logobar{
        flex-direction: column;
        align-items: flex-start;
    }
    .list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login{
        position: absolute;
        right: 32px;
    }

    .list li {
        width: 100%;
        text-align: center;
    }
    
    .list.active{
        display: flex;
    }
    
    .search{
        margin: 0;
    }

    .search tr {
        display: flex;
        flex-direction: column;
    }
    .search td{
        display: flex;
        align-items: center;
    }

    .inner img{
        height: 40%;
    }

}